<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function submitQuestion() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/reed", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    updateChat(JSON.parse(this.responseText));
                }
            }
            var question = document.getElementsByName("question")[0].value;
            xhr.send("question=" + question);
        }

        function updateChat(chatHistory) {
            var chatBox = document.getElementById("chat-box");
            chatBox.innerHTML = "";
            chatHistory.forEach(function(chat) {
                var message = document.createElement("div");
                message.className = chat.type;
                message.innerText = chat.text;
                chatBox.appendChild(message);
            });
            document.getElementsByName("question")[0].value = "";
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="">Reed Q&A Chatbot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
            </ul>
        </div>
        
        <div class="navbar-image-container">
            <img src="/static/images/kainos_logo_white.png" alt="Kainos Logo" class="navbar-image">
        </div>
    </nav>

    <div id="chat-box" class="chat-box"></div>
    <div class="chat-interface">
        <div class="chat-form">
            <button type="button" onclick="location.href='/clear_reed'">Clear History</button>
            <textarea name="question" placeholder="Type your question here..."></textarea>
            <button type="button" onclick="submitQuestion()">Send</button>
        </div>
    </div>
</body>
</html>
